@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar__link--active {
  color: #fff;
  background-color: #1F76C2;
  max-width: 768px;
  font-size: 16px;
}

[data-collapse="true"] {width: 5.3rem;}
[data-collapse="true"] .ml-2 {display: none;}